<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <title>College Management System</title>
  <style>
    body {
      background-color: rgb(44, 44, 44);
    }

    .heading {
      font-size: 7vh;
      text-align: center;
      font-family: Helvetica, sans-serif;
      color: white;
      margin: 50px;
    }

    .main_cont {
      justify-content: center;
      margin-top: 70px;
    }
  </style>
</head>

<body>
  <p class="heading"> Welcome to College Management System </p>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap;" class="main_cont">
    <div class="card" style="width: 18rem; margin: 10px">
      <div style="display: flex; flex-direction: column; justify-content: space-around;">
        <img
          src="https://img.freepik.com/free-vector/pupils-giving-flowers-female-teacher-standing-front-board-classroom-education-back-school-concept-modern-class-room-interior_48369-25677.jpg?size=626&ext=jpg"
          class="card-img-top">
        <div class="card-body">

          <h5 class="card-title">Teacher</h5>

          <p class="card-text">As a teacher, you can view various details related to enrolled students,also update the
            details like marks,attendence and student's personal information like name, dob etc. </p>
          <a href="/teacher/login" class="btn btn-primary">Login as teacher</a>
        </div>
      </div>
    </div>


    <div class="card" style="width: 18rem; margin: 10px">
      <div style="display: flex; flex-direction: column">
        <img src="https://image.freepik.com/free-vector/learning-concept-illustration_114360-6186.jpg"
          class="card-img-top" height="250px" ;>
        <div class="card-body">

          <h5 class="card-title">Student</h5>

          <p class="card-text">As a student, you can view various details related to your records about details like
            marks,attendence. </p>
          <a href="/student/login" class="btn btn-primary">Login as student</a>
        </div>
      </div>
    </div>

  </div>
</body>

</html>